body {
    text-align: center;
}

.header {
  background: rgb(52, 52, 236);
  height: 80px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.card {
    box-shadow: 3px 3px 3px 3px grey;
    margin: 20px;
    padding: 10px;
    width: 250px;
    height: 350px;
}

.card div {
    margin-top: 10px;
}

.card-block {
    display: flex;
    flex-wrap: wrap;
}

.header input {
    height: 33px;
    width: 700px;
}

.navbar {
    position: absolute;
    color: black;
    background: rgb(241, 239, 239);
    opacity: 0.9;
    width: 300px;
    height: 100%;
    box-shadow: 3px 3px 3px 3px gray;
    padding: 10px;
}

.navbar div {
    padding: 20px;
}

.navbar div:hover {
    background: rgb(62, 62, 218);
}

.active {
    background: rgb(62, 62, 218);
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-icon {
    margin-right: 20px;
    margin-bottom: 40px;
}

.favoriteIconHeader {
    margin-right: 45px;
}